@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* font-family: 'Bebas Neue', sans-serif; */


body {
    background-color: black;
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    color: #20c20e;
    font-size: 60px;
    letter-spacing: 7px;   
}